fastapi
uvicorn
gunicorn
fastapi-cors
bcrypt==3.2.0
python-jose
python-dotenv
passlib
pydantic
email-validator
sqlalchemy
alembic
psycopg2-binary
python-multipart
pymongo
tiktoken

# Added for RAG Implementation
langchain-google-genai
langchain-community
sentence-transformers
faiss-cpu
pyvi
rank_bm25
qdrant-client
langchain-huggingface
beautifulsoup4

# OTP verificatioin
fastapi-mail
sendgrid
